*.ff
*.iwd
*.iwd*
*.files
*.tmp
console.log
missingasset.csv
TODO.md

Common/
License.md
README.md
STATUS.txt
animscripts/
animtrees/
character/
clientscripts/
english/
fx/
images/
localizedstrings/
material_properties/
materials/
mp/
mptype/
players/
sound/
soundaliases/
ui/
ui_mp/
xanim/
xmodel/
xmodelparts/
xmodelsurfs/
zzz_search/